.regulation-sidebar {
    width: 250px; /* same as workspace sidebar */
    height: 100%;
    flex-shrink: 0;
    background-color: var(--primary-blue);
    color: #012169;
    padding: 1rem 0.75rem;
    overflow-y: auto;
    border-left: 2px solid #012169; /* temporary border for debugging */
    position: relative;
      
    h2 {
      margin: 0;
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: #012169;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid var(--gray-200);
    }
  }
  